pip>=19.0.1
bump2version>=0.5.10
wheel>=0.32.3
watchdog>=0.9.0
flake8>=3.7.3
tox>=3.7.0
coverage>=4.5.2
Sphinx>=1.8.3
twine>=1.12.1
pytest>=4.2.0
click>=7.0
restructuredtext-lint>=1.2.2
collective.checkdocs>=0.2
coveralls>=1.5.1
pipupgrade>=1.3.0
cmarkgfm>=0.4.2
