pip==19.0.3
wheel==0.33.4
flake8==3.7.7
tox==3.14.2
coverage==5.0.1
Sphinx==2.0.1
pytest==4.5.0
twine==1.13.0
click==7.0
coveralls==1.7.0
pycryptodome==3.8.1
zeroconf==0.24.0
tox-travis==0.12
flask==1.1.1
urllib3==1.24.1
requests==2.21.0
setuptools==40.8.0
