pip==19.1
bump2version==0.5.10
wheel==0.33.0
watchdog==0.9.0
flake8==3.7.7
tox==3.7.0
coverage==4.5.2
Sphinx==1.8.4
pytest==4.4.1
twine==1.13.0
click==7.0
restructuredtext-lint==1.2.2
collective.checkdocs==0.2
coveralls==1.6.0
pipupgrade==1.4.0
cmarkgfm==0.4.2
mock==3.0.3
mocket==2.6.0
